$primary: #bfc3c5;
$button: #f36500;
$overlay: #000000;
$overlayheader: rgba(208, 120, 13, 0.125);

$headingTextColor: #e3f0fc;

$black: #000;
$white: #fff;

$textColor: rgb(69, 69, 69);

$fontFamily: "Raleway", sans-serif;

$transition: 0.5s;